<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="client.js"></script>
</head>
<body ng-app>
	<div ng-controller="ctrl">
		<h1>App Microservices</h1>

		<p>This is a node test application</p>
	    <br>Username:<br>
	    <input ng-model="user" type="text" name="firstname">
	    <br>
	    <br>Password:<br>
	    <input ng-model="pass" type="password" name="lastname">
	    <button type="subbutton">Submit</button>
	</div>
</body>
</html>